{% extends "base.html" %}
{% load static %}
{% block title %}
Sign Up
{% endblock title %}
{% block css_styling %}
<link rel="stylesheet" href={% static "assets/css/register_style.css" %}>
{% endblock css_styling %}

{% block content %}

<div id="page" class="site">
    <div class="container">
        <div class="form-box">
            <form action="{% url "register_page" %}" method = 'POST' autocomplete="off">
                {% csrf_token %}
                <div class="form-four form-step active">
                    <div class="bg-svg"></div>
                    <h2>Sign Up to <i>SWAYNA</i></h2>
                    <p>Enter your credentials</p>
                    <div>
                        <label>Full Name</label>
                        <input type="text" placeholder="Name" name = "username" >
                    </div>
                    <div>
                        <label>Email</label>
                        <input type="email" name="email" placeholder = "Email">
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" placeholder="Password" name = "pword" >
                    </div>
                    <div>
                        <label>Confirm Password</label>
                        <input type="password" placeholder="Confirm Password" name = "cpword" >
                    </div>
                </div>
                <div class="btn-group-parent">        
                    <button type="submit" class="btn-login">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% block js_script %}
<script src={% static "./assets/js/reg_script.js" %}></script>
{% endblock js_script %}
{% endblock content %}